{# empty Twig template #}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Afpacar</title>
        {% block stylesheets %}
            {% stylesheets 'css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type=text/css href="https://fonts.googleapis.com/css?family=Raleway"> 
    </head>
    <body>
        <header>
            <a href='{{ path('homepage') }}'>
                {% image 'images/logo.jpg' %}
                    <img src="{{ asset_url }}" alt="Example" />
                {% endimage %}
            </a>
            {{ app.user.username }}
            <a href="{{ path('login') }}">se connecter / s'enregistrer</a>
        </header>
        <main>
        {% block main %}
        {% endblock %}
        </main>
        
        
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link type="text/css"
        href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    {% block javascripts %}
        {% javascripts 'js/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</html>